<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mydream.mapper.saying.SayingMapper">

    <insert id="sayingwrite" parameterType="mydream.vo.saying.SayingVO">
    	insert into sayinginfo (engname,job,engcontent,korcontent,regdt) values(#{engname},#{job},#{engcontent},#{korcontent},now());
    </insert>
    
      <select id="selectListSayinfo" resultType="mydream.vo.saying.SayingVO">
        select * from sayinginfo;
    </select>
</mapper>