<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mydream.mapper.song.SongMapper">
	<select id="selectSongInfo" resultType="mydream.vo.song.SongVO">
        select * from songinfo;
    </select>
    
    <select id="selectSongWord" resultType="mydream.vo.song.SongVO">
        select * from songword;
    </select>
</mapper>