<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mydream.mapper.word.WordMapper">
	<select id="selectListWord" resultType="mydream.vo.word.WordVO" parameterType="mydream.vo.page.PageVO">
        select * from engword  where wordtype=#{type} order by num asc  offset (#{pageIndex}-1)* #{pageSize} limit #{pageSize};
    </select>
    
    <select id="selectCountWord" resultType="integer">
        select count(*) from engword where wordtype=#{type};
    </select>
    
      <select id="selectListIndexWord" resultType="mydream.vo.word.WordVO">
        select * from engword ORDER BY RANDOM() LIMIT 5
    </select>
</mapper>