
<!DOCTYPE html>

<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css"
	href="/bootstrap/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/css/indexhtml.css">
<link rel="stylesheet" type="text/css"
	href="/css/jquery.bxslider.min.css">
<script src="/js/common.js"></script>
<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/jquery.bxslider.min.js"></script>
<script src="/bootstrap/js/bootstrap.js"></script>
<title>준영어</title>
</head>
<script>
$(document).ready(function() {
	aaa();
});
function aaa(){
	$(".1").attr("name","answer1");
	$(".2").attr("name","answer2");
	$(".3").attr("name","answer3");
	$(".4").attr("name","answer4");
	$(".5").attr("name","answer5");
	$(".6").attr("name","answer6");
	$(".7").attr("name","answer7");
	$(".8").attr("name","answer8");
	$(".9").attr("name","answer9");
	$(".10").attr("name","answer10");
	$(".11").attr("name","answer11");
	$(".12").attr("name","answer12");
	$(".13").attr("name","answer13");
	$(".14").attr("name","answer14");
	$(".15").attr("name","answer15");
	$(".16").attr("name","answer16");
	$(".17").attr("name","answer17");
	$(".18").attr("name","answer18");
	$(".19").attr("name","answer19");
	$(".20").attr("name","answer20");
}
</script>
<style>
pre {
	background-color: white;
	margin: 20px;
}
.aa {
	background-color: white;
	float: right;
	width: 45%;
}
.jumbotron{
	background-image: url('/images/songlist.jpg');
	background-size: cover;
}
</style>
<body>
	<div th:replace="mydream/include/nav :: navFragment"></div>
	<div class="container">
		<div class="jumbotron">
			<h4>영어 실력을 향상시키고 싶다면</h4>
			<h4>영어 문장을 매일 읽는 것을 권한다</h4>
			<h4>무엇을 읽는지는 자유다.</h4>
		</div>
	<table th:each="test,index: ${test}">
		<tr>
			<td th:text="${test.title}"></td>
		</tr>
		<tr>
			<td>&nbsp</td>
		</tr>
		<tr>
			<td th:text="${test.content}"></td>
		</tr>
		<tr>
			<td>&nbsp</td>
		</tr>
		<tr>
		<form action="/engtest/checkpolice">
			<td>
			<input type="radio" th:classappend="${index.count}" name="" value="1" th:text="${test.view1}">
			<br>
			<input type="radio" th:classappend="${index.count}" name="" value="2" th:text="${test.view2}">
			<br>
			<input type="radio" th:classappend="${index.count}" name="" value="3" th:text="${test.view3}">
			<br>
			<input type="radio" th:classappend="${index.count}" name="" value="4" th:text="${test.view4}">
			<br>
			<input type="hidden" name="titlenum" th:value="${test.num}">
			</td>
		</tr>
		<br>
			<input type="hidden" name="year" th:value="${test.year}">
			<input type="hidden" name="count" th:value="${test.count}">
	</table>
	<br>
	<button id="aaa" class="btn btn-primary">정답 해설 확인</button>
	</form>
	</div>
</body>
</html>