<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css"
	href="/bootstrap/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/css/indexhtml.css">
<link rel="stylesheet" type="text/css" href="/css/auth/auth.css">
<script src="/js/common.js"></script>
<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/bootstrap/js/bootstrap.js"></script>
</head>
<style>
td {
word-break:break-all
}
tr :hover{
	cursor: pointer;
}
.jumbotron{
	background-image: url('/images/songlist.jpg');
	background-size: cover;
}
</style>
<script>
$(document).ready(function() {
	$("tr").click(function(){
		var a = $(this).attr("value");
		submit(a);
	});
});
function submit(a) {
	 var songname = a;
    var form = document.createElement("form");
    form.setAttribute("charset", "UTF-8");
    form.setAttribute("method", "GET");  //Post 방식
    form.setAttribute("action", "/engtest/toeic5"); //요청 보낼 주소
    var hiddenField = document.createElement("input");
    hiddenField.setAttribute("type", "hidden");
    hiddenField.setAttribute("name", "day");
    hiddenField.setAttribute("value", songname);
    form.appendChild(hiddenField);
    document.body.appendChild(form);
    form.submit();
 }

</script>
<body>
	<div th:replace="mydream/include/nav :: navFragment"></div>
	<div class="container">
		<div class="jumbotron">
			<h2>영어 실력을 향상시키고 싶다면</h2>
			<h2>영어 문장을 매일 읽는 것을 권한다</h2>
			<h2>무엇을 읽는지는 자유다.</h2>
		</div>
		<table class="table table-hover">
			<colgroup>
				<col width="15%">
				<col width="40%">
				<col width="15%">
			</colgroup>
			<thead>
				<tr>
					<th scope="col">day</th>
					<th scope="col">제목</th>
					<th scope="col">type</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="list,index : ${aaa}" th:value="${index.count}">
					<td th:text="${list.day}">Otto</td>
					<td th:text="${list.title}">Otto</td>
					<td th:text="${list.type}">Otto</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>