
<!DOCTYPE html>

<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/css/indexhtml.css">
<link rel="stylesheet" type="text/css" href="/css/auth/auth.css">
<script src="/js/common.js"></script>
<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/bootstrap/js/bootstrap.js"></script>
<title>Insert title here</title>
</head>
<style>
pre{ 
white-space:pre-line; 
word-break:normal;
word-wrap:normal;
overflow:scroll;
width:auto;
height:400px;
}
</style>
<body>
<div th:replace="mydream/include/nav :: navFragment"></div>

	<div class="container" th:each="song : ${song}">
		<h2 th:text="${song.songname}"></h2>
		<pre th:text="${song.songlyrics}">
		</pre>
	</div>
	
</body>
</html>