
<!DOCTYPE html>

<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/css/indexhtml.css">
<link rel="stylesheet" type="text/css" href="/css/auth/auth.css">
<script src="/js/common.js"></script>
<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/bootstrap/js/bootstrap.js"></script>
<title>Insert title here</title>
</head>
  <script>
	$(document).ready(function() {
		$("#createUser").click(function(){
			
			var param = {
				userid: $("#id").val(),
				password:$("#passwd").val(),
				password2:$("#passwd2").val(),
				age:$("#age").val(),
				gender:$("input:radio[name=gender]:checked").val()
			};
			ajaxCall("/createUser","POST",param,createCheck);
		});
	});
	
	function createCheck(result){
		if(result.resultYn == "Y" ){
			alert(result.message);
			location.href="/";
		}else{
			alert(result.message);
		}
	  }
  </script>
<body>
<div th:replace="mydream/include/nav :: navFragment"></div>
	<div class="container">
		<div id="jb-container">
			<div id="jb-content">
				<div class="login-card">
					<h1>회원가입</h1>
					<br>
					  <input type="text" id="id"  placeholder="아이디">
					  <input type="password" id="passwd"   placeholder="비밀번호">
					  <input type="password" id="passwd2"  placeholder="비밀번호 확인">
					  <input type="number" id="age"  placeholder="나이">
					  <input type="radio"  name="gender"  placeholder="성별" value="M" checked/><span>남</span>
					  <input type="radio"  name="gender" placeholder="성별" value="F"><span>여</span>
					  <input type="submit" id="createUser" class="login login-submit" value="회원가입">
				</div>
			</div>
		</div>
	</div>
</body>
</html>