<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css"
	href="/bootstrap/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/css/indexhtml.css">
<link rel="stylesheet" type="text/css" href="/css/auth/auth.css">
<script src="/js/common.js"></script>
<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/bootstrap/js/bootstrap.js"></script>
<title>준영어</title>
</head>
<style>
td {
word-break:break-all
}
tr :hover{
	cursor: pointer;
}
.jumbotron{
	background-image: url('/images/songlist.jpg');
	background-size: cover;
}
.testword{
	text-align: center;
}
.engword{
	font-size: 60px;
}
.answer{
	text-align:left;
	font-size: 18px;
}
.korea{
text-align: center;
	font-size: 30px;
}

</style>
<script>
$(document).ready(function() {
	$("#aaa").click(function(){
		if($('input:radio[name=check]').is(':checked') == false){
			alert("버튼을 확인하세요");	
		}else{
			   var st = $(":input:radio[name=check]:checked").val();
			  if(st == $("#korea").val()){
				  alert("정답입니다")
			  }else{
				  alert("틀렸습니다 정답은 "+$("#korea").val()+"입니다");
			  }
		}
	});
	$("#bbb").click(function(){
		 var a = $("#korea2").val();
		  window.location.href = 'http://www.0jun.co.kr/word/wordtest?type='+a;
	});
	$(".answer").click(function(){
		$(this).children().prop("checked",true);
	});
});
</script>
<body>
	<div th:replace="mydream/include/nav :: navFragment"></div>
	<div class="container">
		<div class="jumbotron">
			<h6>영어 실력을 향상시키고 싶다면</h6>
			<h6>영어 문장을 매일 읽는 것을 권한다</h6>
			<h6>무엇을 읽는지는 자유다.</h6>
		</div>
		<div class="testword">
		<div>
			<div class = "engword" th:text="${wordeng.englishword}" th:value="${wordeng.koreaword}"></div>
			<input type="hidden" id="korea" class ="korea"  th:value="${wordeng.koreaword}"/>
			<input type="hidden" id="korea2" class ="korea"  th:value="${wordeng.wordtype}"/>
			<br>
			<div  th:each="word,index : ${word}" th:class="answer"><input type="radio" th:class="answer+${index.count}" name="check"  th:value="${word.koreaword}" th:text="${index.count}+') '+${word.koreaword}">&nbsp&nbsp&nbsp</div>
			<br>
			<br>
			<button id="aaa" class="btn btn-primary">정답 확인</button>
			<button id="bbb" class="btn btn-primary">다음 문제</button>
		</div>
	</div>
</body>
</html>