<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css"
	href="/bootstrap/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/css/indexhtml.css">
<link rel="stylesheet" type="text/css" href="/css/auth/auth.css">
<script src="/js/common.js"></script>
<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/bootstrap/js/bootstrap.js"></script>
</head>
<style>
</style>
<body>
	<div th:replace="mydream/include/nav :: navFragment"></div>
	<div class="container">
		<table class="table table-hover">
			<colgroup>
				<col width="5%">
				<col width="30%">
				<col width="30%">
				<col width="15%">
				<col width="10%">
				<col width="10%">
			</colgroup>
			<thead>
				<tr>
					<th scope="col">번호</th>
					<th scope="col">영어 명언</th>
					<th scope="col">한글 명언</th>
					<th scope="col">이름</th>
					<th scope="col">직업</th>
					<th scope="col">등록일</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="saying,index : ${saying}" >
					<td th:text="${index.count}">1</td>
					<td th:text="${saying.engcontent}">Mark</td>
					<td th:text="${saying.korcontent}">Otto</td>
					<td th:text="${saying.engname}">Otto</td>
					<td th:text="${saying.job}">Otto</td>
					<td th:text="${#dates.format(saying.regDt,'yyyy-MM-dd')}">Otto</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>