
<!DOCTYPE html>

<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/css/indexhtml.css">
<link rel="stylesheet" type="text/css"	href="/css/jquery.bxslider.min.css">
<script src="/js/common.js"></script>
<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/jquery.bxslider.min.js"></script>
<script src="/bootstrap/js/bootstrap.js"></script>
<title>준영어</title>
</head>
<style>
.jumbotron{
	background-image: url('images/english2.jpg');
	background-size: cover;
}
.div{
font-size: 30px;
margin-bottom:10px;
text-align: center;
}
.bx-next {
	display:none;
}
.bx-prev {
	display:none;
}
</style>
<script>
$(document).ready(function() {
	
	$('.bxslider').bxSlider({
		  minSlides: 1,
		  maxSlides: 4,
		});
	
	$("#toeic5").click(function(){
		window.location.href = 'http://www.0jun.co.kr/engtest/toeic5list';
	});
	
	$("#engsaying").click(function(){
		window.location.href = 'http://www.0jun.co.kr/saying/sayinglist';
	});
	
	$("#engword").click(function(){
		window.location.href = 'http://www.0jun.co.kr/word/wordmobile';
	});
	$("#wordtest").click(function(){
		window.location.href = 'http://www.0jun.co.kr/word/wordtestmobile';
	});
	
});
</script>
<body>
	<div th:replace="mydream/include/nav :: navFragment"></div>
	<div class="container">
	<div class="jumbotron">
		<h6>영어 실력을 향상시키고 싶다면</h6>
		<h6>영어 문장을 매일 읽는 것을 권한다</h6>
		<h6>무엇을 읽는지는 자유다.</h6>
	</div>
	<div id="engword" class="div" style="float:left;width:48%;height:48%;background-Color:#F2FFFF">영어<br> 단어</div>
	<div id="engsaying" class="div" style="clear:right;float:right;width:48%;height:48%;background-Color:#FFF2FF">영어<br> 명언</div>
	<div id="toeic5" class="div" style="float:left;width:48%;height:48%;background-Color:#FFFFF2">토익 <br>Part5</div>
	<div id="wordtest" class="div" style="clear:right;float:right;width:48%;height:48%;background-Color:#EFEFEF">단어<br> 테스트</div>
	<br><br><br><br><br><br><br><br><br><br><br>
			<h2>명언으로 영어공부</h2>
			<ul class="bxslider">
				<div class="saying" th:each="saying,index : ${saying}">
					<div th:text="${saying.engcontent}">You must start with small things to achieve the greatthing.</div>
					<br>
					<div th:text="${saying.korcontent}">작은 일을 시작해야 위대한 일도 생긴다.</div>
					<br>
					<div th:text="${saying.engname}">Benjamin Franklin</div>
					<div th:text="'('+${saying.job}+')'">Benjamin Franklin</div>
				</div>
			</ul>
		</div>
	</div>
</body>
</html>






